body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.header {
    padding-top: 60px;
    background: rgba(45,175,251,1);
    background: -moz-linear-gradient(-45deg, rgba(45,175,251,1) 0%, rgba(152,207,231,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(45,175,251,1)), color-stop(100%, rgba(152,207,231,1)));
    background: -webkit-linear-gradient(-45deg, rgba(45,175,251,1) 0%, rgba(152,207,231,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(45,175,251,1) 0%, rgba(152,207,231,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(45,175,251,1) 0%, rgba(152,207,231,1) 100%);
    background: linear-gradient(135deg, rgba(45,175,251,1) 0%, rgba(152,207,231,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2daffb', endColorstr='#98cfe7', GradientType=1 );
    color: #fff;
}
.logo {
    margin-bottom: 52px;
}
.wrapper {
    display: flex;
    align-items: center;
}
.descr {
    margin-bottom: 340px;
}
.descr h1 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 37px;
    letter-spacing: 1px;
    line-height: 49px;
    width: 570px;
    padding-top: 142px;
    padding-bottom: 10px;
}

.span {
    font-size: 46px;
    font-weight: bold;
}
.text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 27px;
    width: 420px;
    padding-bottom: 60px;
}
.btn {
    background-color: #ffd429;
    padding: 24px 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
a {
    text-decoration: none;
    color: #2e2a1b;
}
.image {
    padding-bottom: 160px;
}


/* блок section */
.section {
    background-color: #fff;
    padding-top: 100px;
    padding-bottom: 120px;
}
h2 {
    text-align: center;
    padding-bottom: 70px;
}
.train {
    display: flex;
    justify-content: space-between;
}
.tels {
    text-align: center;
}
.train-title {
    width: 300px;
}
.train-title__free {
    width: 272px;
}
.train-title__foo {
    width: 262px;
}
h3 {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 19px;
    line-height: 25px;
    color: #201b2d;
}

.tels p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    line-height: 22px;
    color: #201b2d;
}


/*  блок form */
.form {
    background-color: #ecf2f8;
    padding-top: 106px;
    padding-bottom: 96px;
}
.form-descr {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    color: #201b2d;
    font-size: 30px;
    padding-bottom: 60px;
}
.form-title {
    display: flex;
    justify-content: center;
}
.input {
    display: block;
    width: 340px;
    height: 42px;
    padding-left: 22px;
    border: 1px solid grey;
}
input {
    margin-bottom: 15px;
}
.erse {
    display: inline-block;
    display: flex;
    justify-content: center;
}
.ersei {
    background-color: #ffd429;
    width: 368px;
    padding: 24px 0;
    display: block;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}


/* блок footer */
.footer {
    background-color: #164d7a;
    padding: 60px 0;
    color: #fff;
    display: flex;
    justify-content: center;
}
.contacts {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    cursor: pointer;
}
.contacts:hover {
    text-decoration: underline;
}
